@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 56% 95%;
    --foreground: 222 47.4% 11.2%;
    --card: 190 56% 98%;
    --card-foreground: 222 47.4% 11.2%;
    --popover: 190 56% 98%;
    --popover-foreground: 222 47.4% 11.2%;
    --primary: 197 71% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 291 64% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 197 71% 51%;
    --chart-1: 197 71% 51%;
    --chart-2: 291 64% 42%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 71% 51%;
    --sidebar-primary-foreground: 222 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 27.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 197 71% 51%;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 51%;
    --primary-foreground: 222 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 291 64% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 197 71% 51%;
    --chart-1: 197 71% 51%;
    --chart-2: 291 64% 52%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 71% 51%;
    --sidebar-primary-foreground: 222 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 27.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 197 71% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
